@{
	ViewBag.Title = "Ajax API";
}

<button id="btnMessageJsonAsync">Get Message</button>
<p id="resultJsonAsync"></p>

@section scripts {
	<script type="module">
		import apiService from '/js/shared/apiService.js';
		document.getElementById('btnMessageJsonAsync').addEventListener('click', 
		async () => {
			try {
				// cách 1 nhanh
				// const url = '/ajaxapi/message-json-async'
				const result = await apiService.get(url);
				document.getElementById('resultJsonAsync').textContent = result.message;
			} catch (error) {
				console.error('error fetch message: ', error);
				document.getElementById('resultJsonAsync').textContent = 'Error fetching message';
			}
		});

	</script>
}