@{
    ViewBag.Title = "Ajaxapi Index";
}

<button id="btnMessageJsonAsync" data-url="@Url.RouteUrl("MessageJsonAsync")">Get Message</button>
<p id="resultJsonAsync"></p>
<hr/>

<input type="text" id="txtName" value="" placeholder="enter your name" />

<button id="btnGetNameQuery" type="button" 
    data-url-template="@Url.RouteUrl("GetNameQuery", new { name = "__name__" })">
    Get Name query string
</button>

<p id="resultName"></p>

<hr/>
@* dùng post *@
<input type="text" id="txtFullName" value="" placeholder="enter your full name" />
<input type="text" id="txtAge" value="" placeholder="enter your age" />
<button id="btnSendPerson" type="button"
    data-url="@Url.RouteUrl("GetPerson")">
Click Me (person)
</button>
<p id="resultPerson"></p>

@section scripts {
    <script type="module" src="/js/ajax-api/message-json-async.js"></script>
    <script type="module" src="/js/ajax-api/get-name-query.js"></script>
    <script type="module" src="/js/ajax-api/get-person.js"></script>
}