
<table border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		@foreach (StageFive.Models.Product product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price.ToString("C")</td>
				<td>@product.Quantity</td>
			</tr>
		}
	</tbody>
</table>