@model Account
@if (TempData["Message"] is not null)
{
	<div style="color: green">@(TempData["Message"])</div>
}

<form method="post" asp-controller="Account" asp-action="Login">
	<fieldset style="width: fit-content">
		<legend>Login</legend>
		<label asp-for = "Username">Username</label>
		<input asp-for = "Username" placeholder="Enter username" checked/>
		<br />
		<label asp-for = "Password">Password</label>
		<input asp-for="Password" placeholder="Enter password" checked>
		<button type="submit">Login</button>
	</fieldset>
</form>

@if (ViewBag.ErrorMessage is not null)
{
	<div style="color: red">@ViewBag.ErrorMessage</div>
}

<a asp-controller="Account" asp-action="Register">Dont have account? Let register</a>