@model Account
@if(TempData["SuccessMessage"] is not null)
{
    <div style="color:green">@TempData["SuccessMessage"]</div>
}

@if(TempData["ErrorMessage"] is not null)
{
    <div style="color:red">@TempData["ErrorMessage"]</div>
}


@if(User?.Identity?.IsAuthenticated == true)
{
    <div>Welcome back, <b>@User.Identity.Name</b>!</div>

    @if(User.IsInRole("Admin"))
    {
        <div>
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Dashboard</a>
        </div>
    }
    <div>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type=submit>Logout</button>
        </form>
    </div>
}
else
{

    <form method="post" asp-controller="Account" asp-action="Login">
        <fieldset style="width:fit-content">
            <legend>Login</legend>
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" placeholder="enter username" />
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" type="password" placeholder="enter password" />
            <button type="submit">Login</button>
        </fieldset>
    </form>

    @if(ViewBag.ErrorMessage is not null)
    {
        <div style="color:red">@ViewBag.ErrorMessage</div>
    }

    <a asp-controller="Account" asp-action="Register">chưa có tài khoản? vui lòng đăng ký tại đây ngay</a>
}