@model IEnumerable<Product>

@{
    ViewBag.Title = "Product Index";
}
@* tìm kiếm của mvc  *@
<form asp-controller="Product" asp-action="Search" method="get">
    <label for="search">search:</label>
    <input type="text" id="search" name="search" />
    <button type="submit">Search</button>
</form>
<hr />

@* tìm kiếm của ajax *@
<form asp-controller="Product" asp-action="Search" method="get">
    <label for="search">search:</label>
    <input type="text" id="find" name="search" list="autocomplete-list" 
           data-url="@Url.RouteUrl("AutoComplete")?term=__NAME__" 
           placeholder="enter to find" autocomplete="off"
           value="@ViewBag.Search"
    />

    <datalist id="autocomplete-list"></datalist>
    <button type="submit" id="btnAutoComplete">Search</button>
</form>


<h1>đây là action Index của ProductController</h1>
<div class="container">
    <h2>danh sách sản phẩm</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>photo</th>
                    <th>status</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <partial name="Partials/Products/_ProductTableRow" model="item" />
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/product/auto-complete.js" asp-append-version="true"></script>
}