<h1>Day la action Index cua HomeController</h1>

<h2>dung html thuan - the a</h2>
<a href="product/index">Den trang Product (localhost:xxxx/product/index) xem dsach spham</a>

<h2>dung html ket hop voi tag helper</h2>
<a asp-controller="product" asp-action="index">Den trang Product(localhost:xxxx/product/index) xem dsach spham</a>