<h1>đây là action Index của HomeController</h1>

<h2>dùng html thuần - thẻ a</h2>
<a href="product/index">Đến trang product (localhost:xxxx/product/index) xem danh sách sản phẩm</a>

<h2>dùng html  kết hợp tag helper</h2>
<a asp-controller="product" asp-action="index">Đến trang product (localhost:xxxx/product/index) xem danh sách sản phẩm</a>