<h1>Day la action ShowNameAndQuantity cua FormController</h1>
<p>Fullname: @(ViewBag.Fullname ?? "empty")</p>
<p>Quantity: @(ViewBag.Quantity ?? "empty")</p>
<a asp-controller="Form" asp-action="Index">Quay lai action Index cua FormController</a>