@{
    ViewBag.Title = "Ajaxget Index";
}


<h1>đây là view index của ajax get controller</h1>
<p>ajax = asynchronous JavaScript and XML(gửi request lên server mà không cần request lại trang, hiện tại khi dùng ajax không còn dùng xml mà dùng json</p>

<p>khi dùng C# sẽ chuyển object thành json cho javascript dùng. và javascritp chuyển json thành object của C# để c# sử dụng</p>

<p>khi dùng ajax thì thường không cần sử dụng thẻ form, và thường dùng button có type là button, ít khi dùng button là submit </p>

<button id="btnMessage" type="button">Click me (string)</button>
<p id="result"></p>

<button id="btnMessageJson" type="button">Click me (Json) </button>
<p id="resultJson"></p>

<button id="btnMessageJsonAsync" type="button">Click me (Json Async)</button>
<p id="resultJsonAsync"></p>

<input type="text" id="txtName" value="" placeholder="enter your name" />
<button id="btnGetName" type="button">Get Name</button>
<button id="btnGetNameQuery" type="button">Get Name query string</button>
<p id="resultName"></p>

@section Scripts{
    <script>
        document.getElementById("btnMessage").addEventListener("click", 
        () => {
            //(1) Gửi yêu cầu AJAX đến server (đến controller và action tương ứng)
            fetch("/ajaxget/message")
                .then(response => response.text()) //(2) Đọc dữ liệu trả về từ server dưới dạng text
                .then(data => {
                    document.getElementById("result").textContent = data;
                }) //(3) Hiển thị dữ liệu trả về trong phần tử html có id "result"
                .catch(error => console.error("Error: " + error)); //(4) Xử lý lỗi nếu có lỗi xảy ra trong quá trình gửi yêu cầu hoặc nhận dữ liệu
        });

        document.getElementById("btnMessageJson").addEventListener("click", 
        () => {
            fetch("/ajaxget/message-json")
                .then(response => response.json()) 
                .then(data => {
                    document.getElementById("resultJson").textContent = data.message;
                })
                .catch(error => console.error("Error: " + error));
        });

        document.getElementById("btnMessageJsonAsync").addEventListener("click",
        async () => {
            try{
                //(1) Gửi yêu cầu AJAX đến server (đến controller và action tương ứng
                const response = await fetch("/ajaxget/message-json-async");
                //(2) Đọc dữ liệu trả về từ server dưới dạng json
                const data = await response.json();
                //(3) Hiển thị dữ liệu trả về trong phần tử html có id "resultJsonAsync"
                document.getElementById("resultJsonAsync").textContent = data.message;
            } catch (error) {
                //(4) Xử lý lỗi nếu có lỗi xảy ra trong quá trình gửi yêu cầu hoặc nhận dữ liệu
                console.error("Error: " + error);
            }               
        });

        document.getElementById("btnGetName").addEventListener("click",
        async () => {
            try{
                //lấy từ client gửi lên server, ở đây là lấy giá trị từ input có id là txtName
                const name = document.getElementById("txtName").value;
                const response = await fetch(`/ajaxget/get-name/${encodeURIComponent(name)}`);
                const data = await response.json();
                document.getElementById("resultName").textContent = data.fullname;
            } catch (error) {
                console.error("Error: " + error);
            }
        });

        document.getElementById("btnGetNameQuery").addEventListener("click",
        async () => {
            try{
                //lấy từ client gửi lên server, ở đây là lấy giá trị từ input có id là txtName
                const name = document.getElementById("txtName").value;
                const response = await fetch(`/ajaxget/get-name-query?name=${encodeURIComponent(name)}`);
                const data = await response.json();
                document.getElementById("resultName").textContent = data.fullname + "!!!!";
            } catch (error) {
                console.error("Error: " + error);
            }
        });
    </script>
}