<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/shared/site.js" defer></script>
    @RenderSection("ExtraCSS", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <partial name="Partials/_Header" />
        </div>

        <div class="row">
            <partial name="Partials/_Left" />
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            <partial name="Partials/_Footer" />
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
