<h1>This is action index of FormController</h1>
<hr/>
 
@* dùng html thuần *@
<form action="/form/show-name" method="get">
	<fieldset style="width: fit-content">
		<legend>1) Vannila html</legend>
		<label for="fullname">Fullname: </label>
		<input type="text" name="fullname" id="name" />
		<button type="submit">Submit</button>
	</fieldset>
</form>