@* @model Product *@
@model ProductViewModel

<link href="~/flatpickr/flatpickr.min.css" rel="stylesheet" />
<script defer src = "~/flatpickr/flatpickr.min.js"  asp-append-version="true"></script>
<script defer src="~/flatpickr/l10n/vn.min.js" asp-append-version="true"></script>
<script defer src="~/js/init-flatpickr.js" asp-append-version="true"></script>

<h1>đây là action index của FormController</h1>
<hr />

@* dùng html thuần túy *@
<form action="/form/show-name">
    <fieldset style="width:fit-content">
        <legend>1) form từ html thuần</legend>
        <label for="fullname">fullname: </label>
        <input type="text" name="fullname" id="name" />
        <button type="submit">Submit</button>
    </fieldset>
</form>

@* dùng tag helper *@
<form asp-controller="Form" asp-action="ShowName" method="get">
    <fieldset style="width:fit-content">
        <legend>2) form từ tag helper</legend>
        <label for="fullname">fullname: </label>
        <input type="text" name="fullname" id="name" />
        <button type="submit">Submit</button>
    </fieldset>
</form>

@* dùng tag helper dùng ViewBag*@
<form asp-controller="Form" asp-action="ShowNameandQuantity" method="get">
    <fieldset style="width:fit-content">
        <legend>3) form từ tag helper dùng ViewBag....</legend>
        <label for="fullname">fullname: </label>
        <input type="text" name="fullname" id="name" />
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity" />
        <button type="submit">Submit</button>
    </fieldset>
</form>


@* dùng tag helper Request.Query
   chỉ dùng khi methode là get
   khi dùng thì action không cần truyền tham số
   mà tự bóc tách trên addressbar vào
*@
<form asp-controller="Form" asp-action="ShowNameandQuantityByRequestQuery" method="get">
    <fieldset style="width:fit-content">
        <legend>4) form từ tag helper dùng Request.Query....</legend>
        <label for="fullname">fullname: </label>
        <input type="text" name="fullname" id="name" />
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity" />
        <button type="submit">Submit</button>
    </fieldset>
</form>


@* dùng tag helper Request.Form
   chỉ dùng khi methode là post
   cũng không cần truyền tham số
   mà tự bóc tách trong body của request vào
*@
<form asp-controller="Form" asp-action="ShowNameandQuantityByRequestForm" method="post">
    <fieldset style="width:fit-content">
        <legend>5) form từ tag helper dùng Request.Query....</legend>
        <label for="fullname">fullname: </label>
        <input type="text" name="fullname" id="name" />
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity" />
        <button type="submit">Submit</button>
    </fieldset>
</form>

@* dùng model 
 theo dạng model binding thì tên của input phải trùng với tên của property trong model
 dùng asp-for cho việc này
*@
<form asp-controller="Form" asp-action="ShowProduct" method="post">
    <fieldset style="width:fit-content">
        <legend>6) form từ tag helper dùng Model là Product</legend>
        <label asp-for="Name">fullname: </label>
        <input asp-for="Name" />
        <label asp-for="Quantity">quantity: </label>
        <input asp-for="Quantity" />
        <button type="submit">Submit</button>
    </fieldset>
</form>

@* dùng viewmodel dùng thuộc ít hơn model cho view*@
<form asp-controller="Form" asp-action="ShowProductVM" method="post">
    <fieldset style="width:fit-content">
        <legend>7) form từ tag helper dùng ViewModel</legend>
        <label asp-for="Name">fullname: </label>
        <input asp-for="Name" />
        <label asp-for="Quantity">quantity: </label>
        <input asp-for="Quantity" />
        <button type="submit">Submit</button>
    </fieldset>
</form>

@* đôi khi thuộc tính name trùng tên *@
<form asp-controller="Form" asp-action="ShowHobbies" method="post">
    <fieldset style="width:fit-content">
        <legend>8) form từ tag helper trùng thuộc tính name</legend>
        <input type="checkbox" name="hobbies" value="reading" /> Reading
        <input type="checkbox" name="hobbies" value="traveling" /> Traveling
        <input type="checkbox" name="hobbies" value="cooking" /> Cooking
        <button type="submit">Submit</button>
    </fieldset>
</form>


@* đôi khi thuộc tính name trùng tên dùng for để tạo*@
<form asp-controller="Form" asp-action="ShowEmails" method="post">
    <fieldset style="width:fit-content">
        <legend>9) form từ tag helper trùng thuộc tính name</legend>
        @for(int i = 0; i < 5; i++)
        {
            <div>
                email: <input type="text" name="emails" />
            </div>
        }
        <button type="submit">Submit</button>
    </fieldset>
</form>


 @* dùng date *@
<form asp-controller="Form" asp-action="ShowDate" method="post">
    <fieldset style="width:fit-content">
        <legend>10) form từ tag helper dùng date</legend>
        <label for="dob">birthday:</label>
        <input type="text" name="dob" id="dob"/>
        <button type="submit">Submit</button>
    </fieldset>
</form>


@* dùng date start ...end *@
<form asp-controller="Form" asp-action="ShowDateStartEnd" method="post">
    <fieldset style="width:fit-content">
        <legend>11) date start - date end</legend>
        <label for="startdate">ngày đi:</label>
        <input type="text" name="startdate" id="startdate"/>
        <label for="enddate">ngày về:</label>
        <input type="text" name="enddate" id="enddate" />
        <button type="submit">Submit</button>
    </fieldset>
</form>