@model Product
<h1>Day la aciton ShowProduct cua FormController</h1>
<p>Name: @(Model.Name ?? "empty")</p>
<p>Quantity: @Model.Quantity</p>

@* Over-posting lay du thua thuoc tinh cua model product trong view nhu vi du o duoi *@
<p>Price: @Model.Price</p>