@model string
<h1>đây là action showview của formcontroller</h1>
<p>Fullname: @(string.IsNullOrWhiteSpace(Model) ? "empty" : Model)</p>
<a asp-controller="form" asp-action="index">quay lại action index của form controller</a>