<h1>This is action showview of ShowNameAndQuantityController</h1>
<strong>Fullname: @(ViewBag.Fullname ?? "empty")</strong> <br />
<strong>Quantity: @(ViewBag.Quantity ?? "empty")</strong>
<br />
<br />
<button><a asp-controller="form" asp-action="index">Back</a></button>